* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}
.big-container {
  padding: 40px;
}
.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  border-radius: 20px;
  border: 2px solid black;
  padding: 30px;
}
.container:hover {
  transform: scale(1.1); /* Increase the scale on hover */
}
.ins {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
}
.container h1 {
  margin-bottom: 40px;
}
p {
  font-size: 20px;
}
img:hover {
  transform: scale(1.2); /* Scale the image by 20% */
  transition: transform 0.3s ease; /* Add a smooth transition for the scaling effect */
}
@media screen and (max-width: 767px) {
  .big-container {
    padding: 20px;
  }
  .container {
    display: flex;
    margin-bottom: 40px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 20px;
  }
  .ins img {
    width: 100px;
    height: 70px;
  }
  .ins {
    display: flex;
  }

  .container h1 {
    margin-bottom: 20px;
  }
  p {
    font-size: 10px;
  }
}
